body{
    margin:  0;
}
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.navItem{
    margin: 1em;
    color: rgb(218, 123, 0);
}

.navItem:hover{
   text-decoration: underline;
    color: rgb(218, 123, 0);
}

a:visited {
    color: rgb(218, 123, 0);
  }

  .footBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkslategray; /* or your chosen color */
    padding: 1em 0;
    z-index: 100;
  }

.footItem{
    margin: 0.5em;
}

.aboutSection {
    max-width: 800px;
    margin: 80px auto;
    padding: 30px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #222;
  }
  
  .aboutSection h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #113c3c;
  }
  
  .aboutSection p {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
  }
